@font-face {
  font-family: 'LEMON MILK';
  src: url('./font/LEMONMILK-Regular.woff2') format('woff2'),
      url('./font/LEMONMILK-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.logo{
  color: #FFF;
  font-family: 'LEMON MILK';
  font-size: 37px;
  text-transform: uppercase;
}
.header ,.body{
  background-color: #092E7D;
}
label{
  color: #FFF;
font-family: 'LEMON MILK';
font-size: 17px;
text-transform: uppercase;
}
.custom{
  border-radius: 10px;
  background: #20222F !important;
  color: #FFF !important;
  font-family: 'LEMON MILK' !important;
  font-size: 17px !important;
  text-transform: uppercase;
  padding: 15px 30px!important;
}
input{
  border-radius: 5px;
background: rgba(255, 255, 255, 0.20) !important;
border: none;
}
.copy{
  color: #FEFEFE;
font-family: 'LEMON MILK';
font-size: 30px;
text-transform: capitalize;
text-align: center;
}